.wrapper {
  display: grid;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 20px;
  background-color: red;
}

.eventlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 20px;
}

.footer {
  grid-column: 1/4;
  background-color: blue;
}
